<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Chatter Box</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item"routerLinkActive="active">
          <a class="nav-link" routerLink="/login">Login<i class="fas fa-sign-in-alt" style="margin-left: 5px;"></i></a>
      </li>
      <li class="nav-item mr-">
          <a class="nav-link" routerLink="/register">Signup<i class="fas fa-user-plus" style="margin-left: 5px;"></i></a>
      </li>
    </ul>
  </div>
</nav>

 <div class="wall">

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form class="form-signin" form (submit)="onLogin(postForm)"  #postForm="ngForm">
            <div class="form-label-group">
              <input type="text"  class="form-control" 
              placeholder="User Name" 
              ngModel name="username"
              #username="ngModel"
              required autofocus 
              style="height: 40px;">
              <label for="inputName"></label>
            </div>
            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control"
               placeholder="Password" 
               ngModel name="password"
               #password="ngModel"
               style="height: 40px;"
               required>
              <label for="inputPassword"></label>
            </div>
            
<br>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
            <hr class="my-3">

            <div class="form-label-group">
              <label for="inputPassword"> Dont't have a account? <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Signup</a> </label>
            </div>

            <div class="form-label-group">
              <label for="inputPassword"> <a routerLink="/register"> Forget UserName / Password</a> </label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

 </div>









<!-- <div class="wall">
<div class="container" style="width: 40%;">
  <div class="row">
<form (submit)="onLogin(postForm)"  #postForm="ngForm">
  <div class="form-group">
    <label>UserName</label>
    <input type="text" class="form-control"  ngModel name="username"
    #username="ngModel" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" ngModel name="password"
    #password="ngModel" id="exampleInputPassword1" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</div> -->