<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Chatter Box</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item"routerLinkActive="active">
          <a class="nav-link" routerLink="/login">Login<i class="fas fa-sign-in-alt" style="margin-left: 5px;"></i></a>
      </li>
      <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" routerLink="/register">Signup<i class="fas fa-user-plus" style="margin-left: 5px;"></i></a>
      </li>
    </ul>
  </div>
</nav>

<!-- <div class="container" style="width: 40%;">
  <div class="row">
<form (submit)="onRegister(postForm)" #postForm="ngForm">
  <div class="form-group">
    <label>UserName</label>
    <input type="text" class="form-control"  ngModel name="username"
    #username="ngModel" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1"  ngModel name="email"
    #email="ngModel" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" ngModel name="password"
    #password="ngModel" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1" style="margin-bottom: 1rem;">I agree to all the terms and conditions</label>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>
</div> -->


<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form class="form-signin" form (submit)="onLogin(postForm)"  #postForm="ngForm">
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" 
              placeholder="User Name" 
              ngModel name="username"
              #username="ngModel"
              required autofocus>
              <label for="inputEmail">User Name</label>
            </div>
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" 
              placeholder="User Name" 
              ngModel name="email"
              #email="ngModel"
              required autofocus>
              <label for="inputEmail">Email Id</label>
            </div>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control"
               placeholder="Password" 
               ngModel name="password"
               #password="ngModel"
               required>
              <label for="inputPassword">Password</label>
            </div>
            
<br>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
            <hr class="my-3">

            <div class="form-label-group">
              <label for="inputPassword"> Dont't have a account? <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Signup</a> </label>
            </div>

            <div class="form-label-group">
              <label for="inputPassword"> <a routerLink="/register"> Forget UserName / Password</a> </label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



