<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Chatter Box</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Welcome <b style="font-weight: 600;">{{chatService.getLoggedInUser()}}</b></p>
      <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse"
                     aria-expanded="false" class="dropdown-toggle"
                      style="font-size: 17px;">
                      <b>Channels</b></a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">

                        <ul class="list-unstyled components">
                          <input type="text"
                          class="form-control"
                          *ngIf="chatService.getLoggedInUser() != null "
                           [(ngModel)]="room"
                                placeholder=" Find Channel">
      <span *ngFor="let room of rooms.slice().reverse() | filterBy: room;let i = index;">

        <div *ngIf="i < 3">

        <li>
          <a style="cursor:pointer" (click)="sendChannelMessage(room)"><i class="fas fa-users" style="margin: 0 5px;"></i >{{room}} </a>
        </li>

</div>
       </span>
       <li>
        <a  *ngIf="chatService.getLoggedInUser() != null " style="cursor:pointer" data-toggle="modal" data-target="#exampleModal1"><i class="fas fa-plus"  style="margin-right: 5px;"></i>Add a channel</a>
      </li>
                    </ul>

                    </ul>

                  </li>


      <li>
        <a href="#usersSubmenu" data-toggle="collapse"
        aria-expanded="false" class="dropdown-toggle"
         style="font-size: 17px;"
          ><b>Direct Messages</b>
      
      </a>
      </li>
      <ul class="collapse list-unstyled" id="usersSubmenu">

<ul class="list-unstyled components" >
    <input type="text"
    *ngIf="chatService.getLoggedInUser() != null "
    class="form-control"
     [(ngModel)]="userFilter.username"
          placeholder=" Find username">



<div *ngFor="let user of Users | filterBy: userFilter;let i = index;">


          <li *ngIf="user.username != chatService.getLoggedInUser() && chatService.getLoggedInUser() != null " (click)="sendData(user.username)">
        <div *ngIf="i < 5">

            <a *ngIf="user.isLoging == true" style="cursor:pointer" ><i class="far fa-circle fa-xs"  style=" background-color: #27ae60; border-radius: 100px;"></i> {{ user.username }}</a>
        </div>
            <div *ngIf="i < 3">

            <a *ngIf="user.isLoging == false" style="cursor:pointer" ><i class="far fa-circle fa-xs"  style="border-radius: 100px;"></i> {{ user.username }}</a>
        </div>
          </li>
        </div>
    </ul>
    </ul>
      <li>
        <a href="https://evanapp.000webhostapp.com">About</a>
      </li>

      </ul>
      <li  style="text-decoration: none; list-style: none;cursor:pointer;">
        <a (click)="onLogout()" *ngIf="userIsAuthenticated"><i class="fas fa-power-off" style="margin:0px 5px;"></i>Logout</a>
      </li>
       <li  style="text-decoration: none; list-style: none;cursor:pointer;">
        <a [routerLink]="['/login']" *ngIf="!userIsAuthenticated"><i class="fas fa-power-off" style="margin:0px 5px;"></i>Login</a>
      </li>
      <hr>
      <small style="margin:0px 5px;">&copy;Copyright Chatter Box</small>


  </nav>

  <div id="content">


    <!-- <nav class="navbar sticky-top  navbar-expand-lg navbar-light bg-light" style="color: #7386D5;">
        <div class="container-fluid">

            <button type="button"  id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto"  *ngIf="chatService.getLoggedInUser() != null" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto"  *ngIf="chatService.getLoggedInUser() == null">


                    <li routerLinkActive="active" class="nav-item">
                        <a class="nav-link" routerLink="/login" *ngIf="!userIsAuthenticated" >Login<i class="fas fa-sign-in-alt" style="margin-left: 5px;"></i></a>
                    </li>
                    <li  routerLinkActive="active" class="nav-item mr-">
                        <a class="nav-link" routerLink="/register" *ngIf="!userIsAuthenticated" >Signup<i class="fas fa-user-plus" style="margin-left: 5px;"></i></a>
                    </li>
                  </ul>
            </div>
        </div>
    </nav>  -->

    <app-chatroom></app-chatroom>



</div>
</div>


<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Channel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #users="ngForm" (submit)="addUsers(users)">

      <div class="modal-body">

        <label class="form-check-label" for="defaultCheck1">
            Channel Name
        </label>

        <input class="form-control" type="text"  name="channelname" ngModel #channelname="ngModel" placeholder="Channel Name">
        <label>Add Users</label>
        <br>
        <!-- <a
          href="#addusers"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Add Users</a
        > -->
        <!-- <div class="collapse list-unstyled"*ngFor="let user of Users;"  id="addusers"> -->
          <label class="form-check-label" for="defaultCheck1" >

          <!-- <input class="form-ch8eck-input"  type="checkbox" [value]="user.username" name="users" ngModel (change)="checkbox(user.username, $event.target.checked )"> -->
           <!-- {{user.username}} -->
           <ng-select [items]="Checks"
                   bindLabel="username"
                   bindValue="username"
                   [multiple]="true"
                   placeholder="Add Users"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="selectedUsers">
        </ng-select>
          </label>
        </div>
      <!-- </div> -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>


