<div id="main">

  <!-- Useer -->
  <div id="mario-chat" *ngIf="sk && flag == 0">
    <h2>
      <button
        type="button"
        id="sd"
        (click)="sendMessageToParent()"
        class="btn-xs btn-dark"
      >
        <i class="fas fa-align-left"></i></button
      >{{ username }}
    </h2>
    <span><i *ngIf="isTyping" class="isTyping">typing...</i></span>

    <div class="chatbox">
      <div id="chat-window" #float [scrollTop]="float.scrollHeight">
        <div *ngFor="let item of messageArray">
          <p
            [class.userMessage]="item.user == chatService.getLoggedInUser()"
            [class.secUserMessage]="item.user != chatService.getLoggedInUser()"
          >
            {{ item.message
            }}<small style="margin-left: 1rem;">{{ item.time }}</small>
          </p>
        </div>
      </div>
    </div>
    <div class="sendMessage">
      <div class="row">
      <div class="col-md-8 col-lg-8 col-8">
    <input (keypress)="typing()" [(ngModel)]="message" name="message" (keyup.enter)="sendMessage()"
    id="wage"
     type="text" placeholder="Message" />
      </div>
    <div class="col-md-2">
    <button id="send"  (click)="sendMessage()"><i class="far fa-paper-plane"></i></button>
    </div>
    </div>
    </div>
  </div>
  <!-- Channel -->

  <div id="mario-chat" *ngIf="sk && flag == 1">
    <div class="ico">
      <h2
        style="margin-bottom: 5px ; padding-bottom: 0px;"
        (click)="change($event)"
      >
        <button
          type="button"
          id="sd"
          (click)="sendMessageToParent()"
          class="btn-xs btn-dark"
        >
          <i class="fas fa-align-left"></i>
        </button>
        {{ channelName }}
      </h2>
      <!-- <div class="col"> -->
      <i
        class="far fa-star"
        id="favo"
        (click)="fav()"
        style="cursor:pointer;margin-left:20px;"
      ></i>
      <a class="openbtn" (click)="openNav()">
        <i class="fas fa-users" style="cursor:pointer;margin-left:20px;"></i
      ></a>
    </div>

    <span><i *ngIf="isTyping" class="isTyping">typing...</i></span>
    <div id="chat-window" #float [scrollTop]="float.scrollHeight">
      <div *ngFor="let item of channelmessageArray">
        <span *ngIf="item.user !== undefined">
          <p
            [class.userMessage]="item.user == chatService.getLoggedInUser()"
            [class.secUserMessage]="item.user != chatService.getLoggedInUser()"
          >
            <b style="opacity: 0.5;"> {{ item.user }}</b> <br />
            {{ item.message
            }}<small style="margin-left: 1rem;">{{ item.time }}</small>
          </p>
        </span>
        <span *ngIf="item.user == undefined" style="text-align: center;">
          <p [class.notificationmessage]="item.user == undefined">
            <br />
            <b> {{ item.message }}</b>
            <small style="margin-left: 1rem;">{{ item.time }}</small>
          </p>
        </span>
      </div>
    </div>
    <div class="sendMessage" >
      <div class="row">
        <div class="col-md-8 col-lg-8 col-8">
          <input
            (keypress)="typing()"
            [(ngModel)]="message"
            name="message"
            (keyup.enter)="sendChannelMessage()"
            id="wage"
            type="text"
            placeholder="Message"
          />
        </div>
        <div class="col-md-2">
          <button id="send" (click)="sendChannelMessage()">
            <i class="far fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Noti -->

  <div id="mario-chat" *ngIf="!sk">
    <h2>
      <button
        type="button"
        id="sd"
        (click)="sendMessageToParent()"
        class="btn-xs btn-light"
      >
        <i class="fas fa-align-left"></i></button
      >Welcome to ChatterBox
    </h2>
    <span><i *ngIf="isTyping" class="isTyping">typing...</i></span>
    <div id="chat-window"></div>
    <div class="sendMessage">
      <div class="row" >
  <textarea rows='1' placeholder='Auto-Expanding Textarea'></textarea>
        
      </div>
      <!-- <div class="form-group row">
          <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="col-form-label-lg">
          </div>
       </div> -->
    </div>

    <!-- Modal -->
    
  </div>
</div>
<div id="mySidebar" class="sidebar">

  <a style="font-weight: 600;color: rgb(42, 41, 41); opacity: 0.8;"
    >About This Channel</a
  ><a class="closebtn" (click)="closeNav()">×</a>
  <div id="accordion" style="font-weight: 400;">
    <div class="card">
      <div class="card-header">
        <li
          class="collapsed card-link"
          data-toggle="collapse"
          href="#channeldetails"
          style="cursor: pointer;"
        >
          <i class="fas fa-info-circle" style="margin-right: 5px;"></i>
          Channel Details
          <i
            class="fas fa-angle-double-down"
            style="float: right; margin-top: 5px;"
          ></i>
        </li>
      </div>
      <div id="channeldetails" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <h6>
            <span style=" margin-top: 10px;">Name:</span
            ><span
              class="badge badge-dark"
              style="margin-left: 10px; margin-bottom: 5px;"
              >{{ channelName }}</span
            >
          </h6>

          <h6>
            <span style=" margin-top: 10px;">Admin:</span
            ><span
              class="badge badge-danger"
              style="margin-left: 10px; margin-bottom: 5px;"
              >{{ admin }}</span
            >
          </h6>

          <h6>
            <span style=" margin-top: 10px;">Description:</span>No
            Description
          </h6>

          <h6>
            <span style=" margin-top: 10px;">Total Members:</span
            ><span
              class="badge badge-info"
              style="margin-left: 10px; margin-bottom: 5px;"
              >{{ users.length }}</span
            >
          </h6>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <li
          class="collapsed card-link"
          data-toggle="collapse"
          href="#memberdetails"
          style="cursor: pointer;"
        >
          <i class="fas fa-user" style="margin-right: 5px;"></i>
          {{ users.length }} Members
          <i
            class="fas fa-angle-double-down"
            style="float: right; margin-top: 5px;"
          ></i>
        </li>
      </div>
      <div id="memberdetails" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <h6 *ngFor="let user of users">
            <li class="memb" style="padding: 5px;">
              <i class="fas fa-bolt"></i> {{ user }}
              <b *ngIf="user == chatService.getLoggedInUser()"> (You)</b>
            </li>
          </h6>
          <span
            class="badge badge-dark"
            (click)="addMembers()"
            style="margin-left: 10px; margin-bottom: 5px; cursor: pointer;"
            >Add Members</span
          >
          <span
            class="badge badge-danger"
            *ngIf="currentUser == admin"
            (click)="deleteMembers()"
            style="margin-left: 10px; margin-bottom: 5px; cursor: pointer;"
            >Delete Members</span
          >

          <span *ngIf="addnew == 1">
            <form #users="ngForm" (submit)="addNewUsers(users)">
              <ng-select
                [items]="addUsers"
                bindLabel="username"
                bindValue="username"
                [multiple]="true"
                placeholder="Add Users"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="selectedUsers"
              >
              </ng-select>
              <button
                class="btn btn-success"
                style="margin:5px auto"
                type="submit"
              >
                Add
              </button>
            </form>
          </span>

          <span *ngIf="addnew == 2">
            <form #user="ngForm" (submit)="addDelete(user)">
              <ng-select
                [items]="users"
                bindLabel="username"
                bindValue="username"
                [multiple]="true"
                placeholder="Delete Users"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="deletedUsers"
              >
              </ng-select>
              <button
                class="btn btn-danger"
                style="margin:5px auto"
                type="submit"
              >
                Delete
              </button>
            </form>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


