
h2{
  font-size: 22px;
  padding: 17px 20px;
  color: #11a1ff;
  color: linear-gradient(to right, #0062E6, #33AEFF);
}

.sdfsdfs{
  color:#0062E6;
  color: #33AEFF;
background: linear-gradient(to right, #0062E6, #33AEFF);

}
#sd{
  background-color: transparent;
  border: transparent;
  outline: transparent; 

}

/* #sd:focus{
  background-color: transparent;
} */
.conatiner{
  margin: 0;
  padding: 0;
}
#mario-chat{
  width: 100%;
  top : 0;
  bottom: 0;
  float: left;
  min-width: 300px;
  border: 1px solid #ddd;
  ; /* Hide scrollbars */
 
  
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  /* border-radius: 10px; */

}
.modal-backdrop {
  background-color:transparent;
}
#chat-window{
  height: 84vh;
  overflow: auto;
  background: #E2E2E2;
  margin-bottom: 100px;
}

.chatbox{
  overflow: hidden
}

/* #output p{
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
  max-width: 500px;
  
}

#output {
  height: 500px;
} */

/* #feedback p{
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

.chat-output {
  height: 500px;
} */


label{
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input{
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 16px;
}

#send{
  background: #33aeff;
  color: #fff;
  font-size: 18px;
  border: 0;
  position: relative;
  bottom: 0;
  padding: 10px 0;
  max-width: 100px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.sender{
  position:fixed;
  background-color:white;
  width: 100%;
  /* height: 50px; */
  bottom:0px;
  align-items: center;
  align-content: center;
}
.buttonInside{
  position:relative;
  margin-bottom:10px;
}
.input1{
  height:50px;
  color: black;
  font:bold;
  font-size: x-large;
  width:100%;
  padding-left:10px;
  border-radius: 4px;
  border:none;outline:none;
}
.but1{
  position:absolute;
  right: 2px;
  top: 5px;
  border:none;
  height:40px;
  width:60px;
  border-radius:100%;
  outline:none;
  text-align:center;
  font-weight:bold;
  padding:2px;
  background-color:rgb(184, 139, 80);
}
.but1:hover{
  cursor:pointer;
  background-color:rgb(187, 114, 18);
}



.userMessage {
  width: fit-content;
  max-width: 70%;
  background-color: #33AEFF;
  padding: 10px;
  border-radius: 5px;
  margin-top: 1px;
  margin-right:10px ;
  color: white;
  clear: both;
  float: right;
  word-wrap: break-word;
}
.notificationmessage {
  width: fit-content;
  font-size: 90%;
  max-width: 70%;
  margin-left: 30%;
  text-align: center;
  opacity: 0.6;
  color: rgb(19, 18, 18);
  border-radius: 5px;
  clear: both;
  word-wrap: break-word;
}

.secUserMessage {
  width: fit-content;
  max-width: 70%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 1px;
  margin-left:10px ;
  color: black;
  clear: both;
  float: left;
  word-wrap: break-word;

}



.isTyping {
  color: #888787;
  padding-left: 5px;

 }



.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  right: 0;
  background-color:#F5F5F5;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 10px;
  /* border-radius: 10px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  cursor: pointer;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sendMessage{
  width: 100%;
  bottom: 0;
  position: fixed;
}

#main {
  transition: margin-left .5s;
  transition: 0.3s;

}

.card li{

  text-decoration: none;
  list-style-type: none;
}


/* #memberdetails i:link,i:visited{
  background-color: yellow;

  
}


#memberdetails li:link,li:visited{
  background-color: yellow;

  
} */


#memberdetails li:hover{
  background-color: #44b5ff;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  transition:  background-color 0.3s;

  
}

/* #memberdetails li{
  padding: 5px;


  
} */






::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: #44b5ff;
  border-radius: 10px;
}




/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media (max-width: 768px) {
  .ico a {
   display: none;
  }
}

  @media only screen and (min-width: 769px) {
    #sd {
      display: none;
    }
  
  }
  
  /* #send{
    width: 10%;
  } */


  @media screen and (min-width: 700px) and (max-width:799px) {
    .sender{
      width: 65%;
    }
  }
  @media screen and (min-width: 800px) and (max-width:899px) {
    .sender{
      width: 70%;
    }
  }
  @media screen and (min-width: 900px) and (max-width:999px){
    .sender{
      width: 73%;
    }
  }
  @media screen and (min-width: 1000px) and (max-width:1100px){
    .sender{
      width: 77%;
    }
  }
  @media screen and (min-width: 1100px) and (max-width:1200px){
    .sender{
      width: 78%;
    }
  }
  @media screen and (min-width: 1200px){
    .sender{
      width: 85%;
    }
  }

  textarea{  
    box-sizing: padding-box;
    /* demo only: */
    padding:20px;
    width:100%;
    max-width: 1140px;
    font-size:14px;
    display:block;
    border-radius:10px;
    border:6px solid #556677;
    max-height: 900px;
  }