/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~ngx-toastr/toastr.css';
body {
    overflow-x: hidden; /* Hide scrollbars */
    overflow-y: hidden; /* Hide scrollbars */
  }